.ui.secondary.pointing.menu .ui.item.text-upper-case {
    text-transform: uppercase;
} 

.anon-consumption-sec-menu {
    border-bottom: 2px solid rgba(34,36,38,.15);   
}

.ui.grid>.header-height-before-login {
    height: 80px;
    justify-content: center;
    align-items: center;
}

.header-custom-icons {
    position: relative;
    vertical-align: top;
}
.notify-circle {
    position: absolute;
    right: 0px;
    top: -9px;
    background: #25997D;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    vertical-align: 6px;
    font-size: 12px;
    padding: 3px;
    display: table;
}